body {
  margin: 0;
  padding: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: #212529;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}

.mainContainer {
  display: grid;
  gap: 32px;
  grid-template-columns: 450px 450px;
  justify-content: center;
}

.mainContainer .signatureForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mainContainer .signatureForm label {
  color: #212529;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
select {
  margin-top: 6px;
  padding-left: 4px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background-size: 10px;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  min-height: 36px;
}
input {
  margin-top: 6px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background: #fff;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  min-height: 36px;
  padding: 0px;
}

.phoneIndexInput {
  display: flex;
  align-items: center;
  height: 36px;
}
.phoneIndexInput input {
  margin: 0;
}
.phoneIndexInput .customSelect {
  height: 100%;
}
.phoneIndexInput .customSelect select {
  min-width: 70px;
  background-color: #eff2f7;
  height: 100%;
  margin: 0;
}

.signatureContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

.details .name {
  color: var(--text-primary, #101828);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.details .position {
  color: #667085;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.details .mail a {
  color: #3577f1;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none !important;
}
.details .phone a {
  color: #101828;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}
.details .address {
  color: #101828;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.socials a {
  text-decoration: none !important;
  margin-right: 5px;
  color: #3577f1;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: inline-flex;
  gap: 5px;
}
.socials .line {
  width: 1px;
  height: 24px;
  background-color: #ced4da;
}

.copyButton {
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 4px;
  background: #299cdb;
  padding: 8px 12px;
}

.copyButton:hover {
  background: #2385ba;
}

.copyButton.copied {
  background: #0ab39c;
}

/* Responsive */
@media only screen and (max-width: 950px) {
  body {
    padding: 30px;
  }
  .mainContainer {
    grid-template-columns: 1fr;
  }
}
